/data
/Code/Python_CrashC1.ipynb
/Code/Python_cc2.ipynb
/Univariate Linear Regression/bike_sharing_data.txt
/Decision Trees & Random Forests Regression/Datasets
/Multiple Linear Regression/Datasets
/Polynomial Regression/Datasets
/Ridge & Lasso Regression/Datasets
/Simple Linear Regression/Datasets